body {
  background-image: url('../images/bg.gif');
}

.navbar-brand img {
  height: 24px;
  width: 24px;
}

.bluelobster {
  font-family: 'Lobster', cursive;
  color: #33aaff;
}

.lobster {
  font-family: 'Lobster', cursive;
}

#navbar content

.navbar-inverse {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  color: #33aaff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-inverse .navbar-nav active {
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #222;
}

#color-gray {
  color: gray;
}

#cat {
  height 200px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}