body {
  background-image: url('../images/bg.gif');
}

.navbar-brand img {
  height: 24px;
  width: 24px;
}

.bluelobster {
    font-family: 'Lobster', cursive;
    color: #33aaff;
}

.lobster {
    font-family: 'Lobster', cursive;
}